
nav {
    display: flex;
    flex-direction: row-reverse;
    top: 0;
    height: auto;
    background-color: #98c5e9;
    position: static;
    left: 0;
    right: 0;
    z-index: 1;
}


.header{
    top: 0;
    height: auto;
    background-color: #98c5e9;
    position: static;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-link{
    display: inline-block;
}

.nav-link li {
    padding: 10px 10px 10px 10px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.nav-link, .subnav{
    list-style: none;
}

.nav-link li a {
    color: #00285e;
    text-decoration: none;
    line-height: 0px;
    padding: 0px 24px;
    display: inline-block;
}

.nav-link > li:hover > a
{

    color: red;
}

.nav-link .subnav li:hover{
    background-color: #52F3FF;
    color: #000;
}

.nav-link .subnav li{
    /* display: block; */
    width: 100%;
}

.nav-link .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 160px;
}

.nav-link li:hover .subnav{
    display: block;
    /* width: 100%; */
}

.nav-link .subnav a {
    color: red;
    padding: 2px 12px;
    line-height: 38px;
}

.nav-link .nav-arrow-down{
    font-size: 15px;
}
.nav-link-login{
    display: inline-block;
}

.nav-link-login li {
    position: absolute;
    top: -45px;
    display: inline-block;
    text-transform: uppercase;
}


#header .user-btn{
    float: right;
    padding: 0 21px;
}

#header .user-btn:hover{
    background-color: #52F3FF;
    cursor: pointer;
}

#header .user-icon{
    font-size: 20px;
    line-height: 46px;
}

#header .user-btn #text{
    text-transform: uppercase;
    padding: 0 5px;
}
